body {
    background-color: transparent;
}

.sdpi-item {
    max-width: none !important;
}

.sdpi-heading {
    margin: 16px 0;
}

ul {
    max-height: none;
}
li * {
    min-height: 18px;
    padding: 4px;
    display: flex;
    align-items: center;
}

.wrap {
    margin: 8px;
}
.title {
    font-weight: bold;
    padding-bottom: 2px;
    margin-bottom: 6px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    text-transform: uppercase;
}

.wrap {
    text-align: center;
}

.g {
    position: absolute;
    z-index: -10;
    top:auto;
    height: 80px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: red;
    background: url(propertyinspector/css/g_d8d8d8.svg) no-repeat center;
    background-size: 10%;
}
